<form action="" method="post" class="form-signin">
    <h2 class="form-signin-heading text-center">Please Sign In</h2>
    <br/>
    <input type="email" name="email" id="" class="form-control" placeholder="Email" require="" autofocus="">
    <br/>
    <input type="password" name="password" id="" class="form-control" placeholder="Password" require="" >
    <br/>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
     <br/>
    <a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign In with Facebook</a>

</form>